.containerFooter{
    background-color: $bgcolor1;
    display: flex;
    justify-content: space-around;
    align-items: center;
        p{
            font-size: 1.2em;
            color: whitesmoke;
            font-weight: bold;

        }
        .imgLogoBiolagos{
            height: 100px;
            width: 150px;
        }
}