.containerContacto{
    background-color:$bgcolor2;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
          h3{
            color: $bgcolor1;
            text-align: center;
          }
          .label1{
            color: $bgcolor1;
            font-weight: bold;
          }
            .botones{
              display: flex;
              flex-direction: row;
              justify-content: space-around;
                .bt{
                  color: white;
                  font-weight: bold;
                  background-color: $bgcolor1;
                }
            }


}