.rowConocenos{
    padding: 2rem;                  
            h3{
                    color: $bgcolor1;
                    text-align: center;
                }
                p{
                    text-align: justify;
                }     
}