.containerFooter{
    background-color: $bgcolor1;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
        p{
            font-size: 1.2em;
            color: whitesmoke;
            font-weight: bold;

        }
        a img{
            height: 50px;
            width: 50px;
                        &:hover{
                            opacity: 0.7;
                        }
            }
                      
        .imgLogoBiolagos{
            height: 100%;
            width: 100%;
        }
    }