$bgcolor1:#40a340;
$bgcolor2:#d3da7c;
$bgcolor3: #f5f5b8;
$bgcolor4: #aad8d8;
$bgcolor5: #7af37a;
$color1: #016d01;
$color2: #0404d8;
$color3: #4b4848;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import"header";
@import"containerconocenos";
@import"containeragenda";
@import"containerflora";
@import"containercontacto";
@import"containerfooter";




